@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: navtext;
  src: url('/Users/kenilavaiya/Desktop/panditronak/public/font/neue montreal/NeueMontreal-Regular.otf');
}
@font-face {
  font-family: pandit_text;
src: url('/Users/kenilavaiya/Desktop/panditronak/public/font/suisse init/SuisseIntl-Regular/SuisseIntl-Regular.woff2');
}