@tailwind base;
@tailwind components;
@tailwind utilities;

.main{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 40%;
  z-index: -99;
  background-image: url(../public/image/panditimage.png);
  background-size: cover;
}

@font-face {
  font-family: navtext;
  src: url('/Users/kenilavaiya/Desktop/panditronak/public/font/neue montreal/NeueMontreal-Regular.otf');
}
@font-face {
  font-family: pandit_text;
src: url('/Users/kenilavaiya/Desktop/panditronak/public/font/suisse init/SuisseIntl-Regular/SuisseIntl-Regular.woff2');
}
